/* CONTACT CARD*/
.Contact-Card{
   display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-left: 180px;
width: 70%;
padding-top: 50px;

}
.card-contact{
    border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;

    border: 2px solid #352e2e;

    box-shadow: -4px 4px 24px -5px rgba(0,0,0,0.39);
-webkit-box-shadow: -4px 4px 24px -5px rgba(0,0,0,0.39);
-moz-box-shadow: -4px 4px 24px -5px rgba(0,0,0,0.39);
}

/* Contact DETAILS*/

.Contact-name{
    font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bold;
  text-shadow: #161616 0.2px 1px 2px;
}

.Contact-age{
       font-size: 18px;
       font-style: oblique;
  font-weight: bold;
       color: rgb(79, 5, 5);

}

.Contact-info{

    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

/* HOME PAGE*/

.home-page{
    text-align: center;
    padding-top: 100px;
}
.home-title{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* button AddContact*/
.btn-contact{
    display: flex;
    justify-content: space-between;
}

.contact-details{
  display: flex;
  justify-content: space-evenly;
  color: #158cba;
  
  
}
.contact-details h1 {
  font-size: 18px;
  
  font-family: 'Times New Roman', Times, serif;
}

.icon-add{
  color: #161515;
  font-size: 5px;
  margin-right: 30px;
  margin-top: 30px;
}
.icon-contact{
  color: #161515;
  font-size: 5px;
  margin-top: 40px;
  

}


/* button-4 AddContact*/
.button-4 {
  bottom: 10px;
margin-left: 30%;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.add-contact{
  margin-bottom: 100px;
}



/* button-12 Contact */
.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.mb-3{
    border: 1px solid #161515;

border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
background: #158cba;
}